[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/kohana/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/shadowhand/sprig.git
[submodule "sprig-auth"]
	path = sprig-auth
	url = git://github.com/banks/sprig-auth.git
[submodule "modules/a1"]
	path = modules/a1
	url = git://github.com/Wouterrr/A1.git
[submodule "modules/a2"]
	path = modules/a2
	url = git://github.com/Wouterrr/A2.git
[submodule "modules/acl"]
	path = modules/acl
	url = git://github.com/Wouterrr/ACL.git
[submodule "modules/sprig-auth"]
	path = modules/sprig-auth
	url = git://github.com/banks/sprig-auth.git
[submodule "modules/mangodb"]
	path = modules/mangodb
	url = git://github.com/Wouterrr/MangoDB.git
[submodule "modules/shindig"]
	path = modules/shindig
	url = git://github.com/kerkness/shindig.git
[submodule "modules/authlite"]
	path = modules/authlite
	url = git://github.com/fredwu/authlite.git
[submodule "modules/sprig-mptt"]
	path = modules/sprig-mptt
	url = git://github.com/banks/sprig-mptt.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = git://github.com/kolanos/kohana-captcha.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/banks/kohana-email.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/samsoir/kohana-cache.git
[submodule "modules/unittest-legacy"]
	path = modules/unittest-legacy
	url = git://github.com/shadowhand/kohana-unittest.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "modules/paypal"]
	path = modules/paypal
	url = git://github.com/shadowhand/paypal.git
[submodule "modules/event"]
	path = modules/event
	url = git://github.com/ollym/event.git
[submodule "modules/daemon"]
	path = modules/daemon
	url = git://github.com/ollym/daemon.git
[submodule "modules/migration"]
	path = modules/migration
	url = git://github.com/ollym/migration.git
[submodule "modules/dbforge"]
	path = modules/dbforge
	url = git://github.com/ollym/dbforge.git
[submodule "modules/dispatcher"]
	path = modules/dispatcher
	url = git://github.com/BRMatt/Kohana-Dispatcher.git
[submodule "modules/table"]
	path = modules/table
	url = git://github.com/kerkness/kohana-table.git
[submodule "modules/twitter"]
	path = modules/twitter
	url = git://github.com/transphorm/twitter.git
[submodule "modules/gravatar"]
	path = modules/gravatar
	url = git://github.com/samsoir/kohana-gravatar.git
[submodule "modules/task-queue"]
	path = modules/task-queue
	url = git://github.com/jonnyjon/Task-Queue.git
[submodule "modules/gui"]
	path = modules/gui
	url = git://github.com/kerkness/gui.git
[submodule "modules/todoist"]
	path = modules/todoist
	url = git://github.com/shadowhand/kohana-todoist.git
[submodule "modules/pdfview"]
	path = modules/pdfview
	url = git://github.com/shadowhand/pdfview.git
[submodule "modules/tim"]
	path = modules/tim
	url = git://github.com/Xobb/TIM-for-kohana-3.git
[submodule "modules/aacl"]
	path = modules/aacl
	url = git://github.com/banks/aacl.git
[submodule "modules/gcheckout"]
	path = modules/gcheckout
	url = git://github.com/shadowhand/gcheckout.git
[submodule "modules/akismet"]
	path = modules/akismet
	url = git://github.com/Greenek/kohana3-akismet.git
[submodule "modules/swiftmailer"]
	path = modules/swiftmailer
	url = git://github.com/themusicman/ko3-swiftmailer.git
[submodule "modules/console"]
	path = modules/console
	url = git://github.com/daveWid/console.git
[submodule "modules/epoxy"]
	path = modules/epoxy
	url = git://github.com/samsoir/kohana-epoxy.git
[submodule "modules/super-cache"]
	path = modules/super-cache
	url = git://github.com/FerumFlex/kohana-super-cache.git
[submodule "modules/cron"]
	path = modules/cron
	url = git://github.com/cbandy/kohana-cron.git
[submodule "modules/twig"]
	path = modules/twig
	url = git://github.com/jheathco/kohana-twig.git
[submodule "modules/smarty"]
	path = modules/smarty
	url = git://github.com/MrAnchovy/kohana-module-smarty.git
[submodule "modules/wordpress"]
	path = modules/wordpress
	url = git://github.com/kerkness/wordpress-for-kohana.git
[submodule "modules/slicehost"]
	path = modules/slicehost
	url = git://github.com/transphorm/slicehost.git
[submodule "modules/devilities"]
	path = modules/devilities
	url = git://github.com/BRMatt/Devilities.git
[submodule "modules/dom-query"]
	path = modules/dom-query
	url = git://github.com/samsoir/kohana-dom-query.git
[submodule "modules/date"]
	path = modules/date
	url = git://github.com/BRMatt/kohana-date.git
[submodule "modules/firephp"]
	path = modules/firephp
	url = git://github.com/pedrosland/kohana-firephp.git
[submodule "modules/asset"]
	path = modules/asset
	url = git://github.com/jonathangeiger/kohana-asset.git
[submodule "modules/github"]
	path = modules/github
	url = git://github.com/transphorm/github.git
[submodule "modules/cache2"]
	path = modules/cache2
	url = git://github.com/necros/kohana-cache.git
[submodule "modules/event2"]
	path = modules/event2
	url = git://github.com/Zeelot/event.git
[submodule "modules/mangoqueue"]
	path = modules/mangoqueue
	url = git://github.com/Wouterrr/mangoQueue.git
[submodule "modules/flashdatanator"]
	path = modules/flashdatanator
	url = git://github.com/dyson/flashdatanator.git
[submodule "modules/mangodemo"]
	path = modules/mangodemo
	url = git://github.com/Wouterrr/MangoDemo.git
[submodule "modules/mangoutils"]
	path = modules/mangoutils
	url = git://github.com/Wouterrr/MangoUtils.git
[submodule "modules/calais"]
	path = modules/calais
	url = git://github.com/kolanos/kohana-calais.git
[submodule "modules/zend"]
	path = modules/zend
	url = git://github.com/kolanos/kohana-zend.git
[submodule "modules/sphinx"]
	path = modules/sphinx
	url = git://github.com/Zoxive/SphinxKohana.git
[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/message"]
	path = modules/message
	url = git://github.com/daveWid/message.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = git://github.com/jonathangeiger/kohana-jelly.git
[submodule "modules/kohanut"]
	path = modules/kohanut
	url = git://github.com/bluehawk/kohanut-core.git
[submodule "modules/sprig-banks"]
	path = modules/sprig-banks
	url = git://github.com/banks/sprig.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/jelly-auth"]
	path = modules/jelly-auth
	url = git://github.com/raeldc/jelly-auth.git
[submodule "modules/b8"]
	path = modules/b8
	url = git://github.com/stensi/Kohana-B8.git
[submodule "modules/debug-toolbar"]
	path = modules/debug-toolbar
	url = git://github.com/biakaveron/debug-toolbar.git
[submodule "modules/editor"]
	path = modules/editor
	url = git://github.com/biakaveron/editor.git
[submodule "modules/archive"]
	path = modules/archive
	url = git://github.com/BRMatt/kohana-archive.git
[submodule "modules/minify"]
	path = modules/minify
	url = git://github.com/zazu/minify.git
[submodule "modules/bamboo"]
	path = modules/bamboo
	url = git://github.com/vitch/bamboo.git
[submodule "modules/xhtml"]
	path = modules/xhtml
	url = git://github.com/glydetech/ko3.xhtml.git
[submodule "modules/tags"]
	path = modules/tags
	url = git://github.com/glydetech/ko3.tags.git
[submodule "modules/geocode"]
	path = modules/geocode
	url = git://github.com/kolanos/kohana-geocode.git
[submodule "modules/seo"]
	path = modules/seo
	url = git://github.com/glamorous/kohana-seo.git
[submodule "modules/kohaml"]
	path = modules/kohaml
	url = git://github.com/transphorm/kohaml.git
[submodule "modules/csrf"]
	path = modules/csrf
	url = git://github.com/synapsestudios/kohana-csrf.git
[submodule "modules/errors"]
	path = modules/errors
	url = git://github.com/synapsestudios/kohana-errors.git
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices.git
[submodule "modules/langify"]
	path = modules/langify
	url = git://github.com/hinton/langify.git
[submodule "modules/debug"]
	path = modules/debug
	url = git://github.com/synapsestudios/kohana-debug.git
[submodule "modules/ipsum"]
	path = modules/ipsum
	url = git://github.com/synapsestudios/kohana-ipsum.git
[submodule "modules/xml"]
	path = modules/xml
	url = git://github.com/ccazette/Kohana_XML.git
[submodule "modules/xdatabase"]
	path = modules/xdatabase
	url = git://github.com/approots/xdatabase.git
[submodule "modules/cdm"]
	path = modules/cdm
	url = git://github.com/jylinman/kohana-cdm.git
[submodule "modules/footsteps"]
	path = modules/footsteps
	url = git://github.com/jmhobbs/kohana-footsteps.git
[submodule "modules/ajax"]
	path = modules/ajax
	url = git://github.com/28litres/ajax.git
[submodule "modules/aws"]
	path = modules/aws
	url = git://github.com/jylinman/kohana-aws.git
[submodule "modules/amfphp"]
	path = modules/amfphp
	url = git://github.com/jylinman/kohana-amfphp.git
[submodule "modules/grid"]
	path = modules/grid
	url = git://github.com/vimofthevine/grid.git
[submodule "modules/sentry"]
	path = modules/sentry
	url = git://github.com/vimofthevine/sentry.git
[submodule "modules/dbnav"]
	path = modules/dbnav
	url = git://github.com/tayles/kohana-dbnav.git
[submodule "modules/versioned"]
	path = modules/versioned
	url = git://github.com/vimofthevine/versioned.git
[submodule "modules/layout"]
	path = modules/layout
	url = git://github.com/marcalj/kohana-layout.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git://github.com/mintbridge/kohana-oauth.git
[submodule "modules/circuit-breaker"]
	path = modules/circuit-breaker
	url = git://github.com/samsoir/kohana-circuit-breaker.git
[submodule "modules/thumbler"]
	path = modules/thumbler
	url = git://github.com/homm/thumbler.git
[submodule "modules/plater"]
	path = modules/plater
	url = git://github.com/homm/plater.git
[submodule "modules/stacks"]
	path = modules/stacks
	url = git://github.com/ahutchings/kohana-stacks.git
[submodule "modules/notify"]
	path = modules/notify
	url = git://github.com/kaltar/Notify.git
[submodule "modules/geshi"]
	path = modules/geshi
	url = git://github.com/JustLikeIcarus/kohana-geshi.git
[submodule "modules/yform"]
	path = modules/yform
	url = git://github.com/synapsestudios/kohana-yform.git
[submodule "modules/less"]
	path = modules/less
	url = git://github.com/mongeslani/kohana-less.git
[submodule "modules/calendar"]
	path = modules/calendar
	url = git://github.com/samwilson/kohana_calendar.git
[submodule "modules/webdb"]
	path = modules/webdb
	url = git://github.com/samwilson/kohana_webdb.git
[submodule "modules/stache"]
	path = modules/stache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/sitemap"]
	path = modules/sitemap
	url = git://github.com/ThePixelDeveloper/kohana-sitemap.git
[submodule "modules/mailer"]
	path = modules/mailer
	url = git://github.com/themusicman/Mailer.git
[submodule "modules/validation"]
	path = modules/validation
	url = git://github.com/themusicman/Validation.git
[submodule "modules/purifier"]
	path = modules/purifier
	url = git://github.com/shadowhand/purifier.git
[submodule "modules/jelly-folly"]
	path = modules/jelly-folly
	url = git://github.com/shadowhand/folly.git
[submodule "modules/database-mssql"]
	path = modules/database-mssql
	url = git://github.com/xrado/kohana-mssql.git
[submodule "modules/formo"]
	path = modules/formo
	url = git://github.com/bmidget/kohana-formo.git
[submodule "modules/mongodb-odm"]
	path = modules/mongodb-odm
	url = git://github.com/colinmollenhour/mongodb-php-odm.git
[submodule "modules/class-view"]
	path = modules/class-view
	url = git://github.com/zombor/Kohana-View.git
[submodule "modules/admin"]
	path = modules/admin
	url = git://github.com/vimofthevine/kohana-admin.git
[submodule "modules/rbac"]
	path = modules/rbac
	url = git://github.com/lzyy/kohana-rbac.git
[submodule "modules/jelly-mptt"]
	path = modules/jelly-mptt
	url = git://github.com/AlexKupreev/jelly-mptt.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
[submodule "modules/vk"]
	path = modules/vk
	url = git://github.com/Slaver/vk.git
[submodule "modules/oauth2"]
	path = modules/oauth2
	url = git://github.com/kohana/oauth.git
[submodule "modules/webclient"]
	path = modules/webclient
	url = git://github.com/SyrusAkbary/Webclient-Kohana.git
[submodule "modules/cassandra"]
	path = modules/cassandra
	url = git://github.com/jylinman/kohana-cdm.git
[submodule "modules/database-postgresql"]
	path = modules/database-postgresql
	url = git://github.com/cbandy/kohana-postgresql.git
[submodule "modules/pngtext"]
	path = modules/pngtext
	url = git://github.com/jheathco/kohana-pngtext.git
[submodule "modules/azimauth"]
	path = modules/azimauth
	url = git://github.com/tommusic/Kohana-Azimauth.git
[submodule "modules/orm-mptt"]
	path = modules/orm-mptt
	url = git://github.com/evopix/orm-mptt.git
[submodule "modules/jelly-formo"]
	path = modules/jelly-formo
	url = git://github.com/bmidget/kohana-formo-jelly.git
[submodule "modules/orm-form"]
	path = modules/orm-form
	url = git://github.com/Azuka/Kohana-ORMForm.git
[submodule "modules/breadcrumbs"]
	path = modules/breadcrumbs
	url = git://github.com/kierangraham/breadcrumbs.git
[submodule "modules/media"]
	path = modules/media
	url = git://github.com/azampagl/kohana-media.git
[submodule "modules/orm-glue"]
	path = modules/orm-glue
	url = git://github.com/rlm80/glue-orm.git
[submodule "modules/geoip3"]
	path = modules/geoip3
	url = git://github.com/ryross/geoip3.git
[submodule "modules/phpass"]
	path = modules/phpass
	url = git://github.com/Riu/phpass.git
[submodule "modules/sprig-versioned"]
	path = modules/sprig-versioned
	url = git://github.com/vimofthevine/versioned.git
[submodule "modules/gmaps"]
	path = modules/gmaps
	url = git://github.com/guillermin/gmaps.git
[submodule "modules/phamlp"]
	path = modules/phamlp
	url = git://github.com/fredwu/kohana-phamlp.git
[submodule "modules/storage"]
	path = modules/storage
	url = git://github.com/cbandy/kohana-storage.git
[submodule "modules/log"]
	path = modules/log
	url = git://github.com/lzyy/kohana-log.git
